# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=yourpassword

# API
API_PORT=8000

# Frontend
API_HOST=http://api
FRONTEND_PORT=3000
REQUEST_TIMEOUT_MS=5000

# Resource limits
REDIS_CPU=0.5
REDIS_MEM=128m
API_CPU=0.5
API_MEM=256m
WORKER_CPU=0.5
WORKER_MEM=128m
FRONTEND_CPU=0.5
FRONTEND_MEM=128m
